* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 2px solid rgb(24, 19, 19);
    border-radius: 10px;
    width: fit-content;
    padding: 80px;
    background-color: #31a961;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3ba78f;
}

#sub-btn,
#cls-btn{
    width: 100px;
    height: 40px;
    border-radius: 8px;
    border: none;
}

#sub-btn:hover{
    opacity: .5;
}
#cls-btn:hover{
    opacity: .5;
}

#sub-btn{
    background-color: #331e9c;
    color: white;
}
#cls-btn{
    background-color: #cc4327;
    color: white;
}
.input-field{
    width: 140px;
    height: 36px;
    /* outline: 0; */
    border-width: 0;
    border-radius: 5px;
    padding: 8px;
}
